{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{% block title %}Bảo tàng lão làng{% endblock %}</title>

  <!-- External CSS -->
  <link rel="stylesheet" href="{% static 'museums/css/bootstrap.css' %}">
  <link rel="stylesheet" href="{% static 'museums/css/style.css' %}">
  <link rel="stylesheet" href="{% static 'museums/css/responsive.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.3/assets/owl.carousel.min.css">
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,600,700&display=swap" rel="stylesheet">

  {% block map %}

  {% endblock %}
</head>
<body>

<div class="hero_area">

  <!-- ===== Navbar ===== -->
  <header class="header_section">
    <div class="container">
      <nav class="navbar navbar-expand-lg custom_nav-container ">
        <a class="navbar-brand" href="{% url 'home' %}">
          <img src="{% static 'museums/images/logo.png' %}" alt="">
          <span>BẢO TÀNG LÃO LÀNG</span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
          <span class="s-1"> </span>
          <span class="s-2"> </span>
          <span class="s-3"> </span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item"><a class="nav-link" href="{% url 'home' %}">Home</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'about' %}">About</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Service</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Blog</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Contact</a></li>
          </ul>
        </div>
      </nav>
    </div>
  </header>
  <!-- ===== End Navbar ===== -->

  <!-- ===== Nội dung trang con sẽ nằm ở đây ===== -->
  {% block content %}
  
  {% endblock %}

</div>


 <!-- info section -->

 <section class="info_section layout_padding">
  <div class="container">
    <div class="info_contact">
      <div class="row">
        <div class="col-md-4">
          <a href="">
            <img src="{% static 'museums/images/location-white.png' %}" alt="">
            <span>
              Việt Nam
            </span>
          </a>
        </div>
        <div class="col-md-4">
          <a href="">
            <img src="{% static 'museums/images/telephone-white.png' %}"alt="">
            <span>
              Call : +012334567890
            </span>
          </a>
        </div>
        <div class="col-md-4">
          <a href="">
            <img src="{% static 'museums/images/envelope-white.png' %}"alt="">
            <span>
              demo@gmail.com
            </span>
          </a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 col-lg-9">
        <div class="info_form">
          <form action="">
            <input type="text" placeholder="Enter your email">
            <button>
              subscribe
            </button>
          </form>
        </div>
      </div>
      <div class="col-md-4 col-lg-3">
        <div class="info_social">
          <div>
            <a href="">
              <img src="{% static 'museums/images/fb.png' %}"  alt="">
            </a>
          </div>
          <div>
            <a href="">
              <img src="{% static 'museums/images/twitter.png' %}"  alt="">
            </a>
          </div>
          <div>
            <a href="">
              <img src="{% static 'museums/images/linkedin.png' %}" alt="">
            </a>
          </div>
          <div>
            <a href="">
              <img src="{% static 'museums/images/instagram.png' %}" alt="">
            </a>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>

<!-- end info section -->

<!-- ===== Footer ===== -->
<footer class="container-fluid footer_section">
  <div class="container">
    <div class="row">
      <div class="col-lg-7 col-md-9 mx-auto">
        <p>
          &copy; 2019 All Rights Reserved By
          <a href="https://html.design/">Free Html Templates</a>
        </p>
      </div>
    </div>
  </div>
</footer>
<!-- ===== End Footer ===== -->

<!-- Scripts -->
<script src="{% static 'museums/js/jquery-3.4.1.min.js' %}"></script>
<script src="{% static 'museums/js/bootstrap.js' %}"></script>

<!-- ==== Thêm block script cho từng trang con ==== -->
{% block script %}

{% endblock %}
</body>
</html>